<div class="loading-indicator-wrapper" *ngIf="!fetchDone && !error">
  <mat-spinner [diameter]="40"></mat-spinner>
</div>
<div *ngIf="!(deviceDetails.isAndroid || deviceDetails.isIos) && fetchDone && !isPaid && !error" class="comic-container">
  <div class="row">
    <div class="col-12 comic-list-container" *ngFor="let list of chapterList">
      <app-image [comicData]="list"></app-image>
    </div>
  </div>
</div>
<div *ngIf="!(deviceDetails.isAndroid || deviceDetails.isIos) && fetchDone && isPaid && !error" class="comic-container">
  <div class="row">
    <div class="col-12 comic-list-container">
      <a class="image-container">
        <img src="{{comicImage}}" class="img">
      </a>
    </div>
  </div>
</div>
<div *ngIf="(deviceDetails.isAndroid || deviceDetails.isIos) && fetchDone && !error" class="comic-container">
  <div class="row">
    <div class="col-12 comic-list-container">
      <a class="image-container">
        <img src="{{comicImage}}" class="img">
      </a>
    </div>
  </div>
</div>
<app-data-not-found *ngIf="error">
  <div class="no-data-found">
    <p>
      {{errorMsg}}
    </p>
    <p>
      <span class="error-navigate" [routerLink]="['']" routerLinkActive="router-link-active">Click here</span> to navigate to home page.
    </p>
  </div>
</app-data-not-found>
  