.comic-container {
  max-width: 750px;
  margin: 0 auto;
  padding-top: 15px;
  
  .comic-list-container {
    margin-bottom: 15px;

    app-image {
      display: inline-block;
    }

    .image-container {
      display: inline-block;
      
      .img {
        width: 100%;
      }
    }
  }
}

app-data-not-found .no-data-found span {
  cursor: pointer;
}
